* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html {
  font-size: 14px;
  line-height: 1.2rem;
}

img {
  width: 100%;
}


ul {
  list-style: none;
  display: flex;
}

.navbar {
  z-index: 1;
  top: 0;
  padding-top: 0.8rem;

  .sitename {
    margin-left: 2rem;
  }

  a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    margin: 1rem;

    &:hover {
      color: #dc3545;
    }
  }
}

.container0 {
  img {
    filter: brightness(40%);
  }
}

.maintittles {
  z-index: 1;
  top: 20%;
  left: 50%;
  transform: translate(-50%, 50%);

  button {
    width: 10rem;
    height: 3rem;
    margin-top: 2rem;
    transition: all 0.5s;

    &:hover {
      background-color: white;
      color: black !important;
    }
  }

  .tittle2 {
    font-family: sans-serif;
    margin-top: 4rem;
    size: 8rem;
  }
}

main {
  .container1 {
    margin-top: -7rem;

    .page1 {
      width: 50%;
      height: 40vh;
      padding: 2rem;
      z-index: 1;

      button {
        &:hover {
          background-color: white;
          color: black !important;
        }
      }
    }
  }

  .container2 {
    margin-top: 5rem !important;

    img {
      width: 40rem;
      height: 40rem;
    }

    .maintittles2 {
      margin-top: 5rem;
      margin-left: 2rem;

      button {
        width: 10rem;
        height: 3rem;
        margin-left: 3rem;
        margin-top: 3rem;
      }
    }
  }

  .container3 {
    height: 20rem;
    margin-top: 3rem;
  }

  .container4 {
    .area2 {
      .area4 {
        width: 40rem;
        height: 20rem;

        img {
          height: 12rem;
        }

        .area3 {
          width: 5rem;
          height: 4rem;
          left: 70%;
          top: -5%;
        }
      }
    }
  }

  .container5 {
    background-image: url("img/bg.jpg");
    filter: brightness(40%);
    width: 100%;
    height: 25rem;

    input {
      width: 20rem !important;
      height: 4rem;
    }
  }
  .area5{
    width: 100%;
    margin-top: -20rem;
  }
  .area6{
    width: 100%;
    width: 35rem;
    height: 3rem;
    margin-top: -8rem;
    margin-left: 31rem;
    button{
      height: 3rem;
    }
  }

}
@media (max-width:600px) {
  html{
    font-size: 6px;
  }
  
}